
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactUs</title>
</head>
<body>
    <div> 
        <h1>ContactUs</h1>
        <h1><a href="http://toplern.com">TopLearn.com</a></h1>
        <h2>shima_barghi@yahoo.com</h2>
        <h3>tell: 0921-33546985</h3>

       
    </div>
</body>
</html>
