
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> page one!...</h1>
        <a href="/Home/ContactUs">Contact UUs</a>
        <br />
        <a href="/Home/About">Aboutt</a>
        <hr />
        @Html.ActionLink("Contact UUs","ContactUs","Home")
        <br />
        @Html.ActionLink("Aboutt","About","Home")

    </div>
</body>
</html>
